.footer {
  margin-top: auto;
    background: linear-gradient(90deg, rgba(73, 169, 255, 0.2) 0%, rgba(252, 124, 217, 0.2) 100%);
  padding: 60px 0px 40px;
}

.footer-flex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.footer-nav-flex-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.footer-nav ul li {
  line-height: 130%;
  color: #535755;
  list-style: none;
}

.footer-nav a {
  color:#535755;
  transition: color 0.2s;
}

.footer-nav a:hover {
  color: #3596ed;
}

.footer-border {
  min-width: 100vw;
  border-top: 1px solid #d3cbd9;
}

.footer-copyright {
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #858e8a;
}