html {
  font-family: sans-serif;
}

body * {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab {
  max-width: 400px;
  width: 100%;
  padding: 30px;
  border: 1.2px solid #333;
  border-radius: 6px;
}

fieldset {
  max-width: 380px;
  border: none;
  padding: 0;
}

.first-data {
  display: inline-block;
  width: 100%;
}

.first-data-input {
  width: 100%;
}

.first-legend {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.first-data-input,
.feedback {
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 5px 13px;
}

.input:disabled,
.feedback:disabled {
  opacity: 0.4;
}

.last-feedback-data {
  display: inline-block;
  width: 100%;
}

.label-two {
  margin-bottom: 0px;
}

.feedback {
  width: 100%;
  min-height: 40px;
  max-height: 100px;
  padding: 5px 13px;
  resize: vertical;
  margin: 10px 0 20px 0;
  border: 1.2px solid #333;
  border-radius: 5px;
}

.checkbox {
  position: absolute;
  appearance: none;
  accent-color: #9e1fff;
  outline: none;
}

.checkbox:after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 4px;
}

.checkbox:checked::after {
  background: url("../img/check-icon.svg") no-repeat center, #9e1fff;
}

.checkbox:disabled:after {
  opacity: 0.4;
  cursor: default;
}

.agreement {
  padding-left: 22px;
  cursor: pointer;
  font-size: 14px;
}

.button {
  padding: 6px 18px;
  border: none;
  margin-top: 20px;
  border-radius: 6px;
  color: #fff;
  background-color: #9e1fff;
  cursor: pointer;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.85;
}

.button:not(:disabled):active {
  background-color: #8791db;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.first-data-input:focus-visible,
.checkbox:focus::after,
.feedback:focus-visible,
.button:focus-visible {
  outline: 2px solid #9e1fff;
  outline-offset: 1px;
}