.flex-box-header {
  border-bottom: 1px solid #d3cbd9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.name-icon {
  width: 84px;
  height: 45px; 
}

.fit-span {
  font-weight: 400;
  font-size: 21px;
  text-transform: uppercase;
  color: #2c332f;
}

.studio-span {
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  color: #2c332f;
}

.header-phone-article {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 8px;
}

.header-text-phone {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #858e8a;
}

.header-phone {
  font-weight: 500;
  font-size: 18px;
  color: #2c332f;
  transition: color 0.2s;
}

.header-phone:hover {
  color: #3596ed;
}
